header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(225, 225, 225);
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 15px;   
}

header img {
    width: 100%;
    max-width: 475px;
}

header ul {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

header li {
    padding: 0 10px;   
    margin-top: 15px;
}

@media screen and (min-width: 775px) {
    header div {
        flex-direction: row;
        justify-content: space-between;

        max-width: 1200px;
        margin: auto;
    }

    header li {
        margin-top: 0;
    }
}

/* Tall logo variant
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

header img {
    height: 130px;
    padding: 10px;
}

header ul {
    padding: 0;

    text-align: right;
    list-style: none;

    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

header li {
    padding: 0 10px;   
}



@media screen and (min-width: 475px) {
    header ul {
        display: flex;
        text-align: none;

        font-size: 30px;
    }
}

@media screen and (min-width: 1000px) {
    header div {
        width: 1200px;
        margin: auto;
    }
}
*/

